#Books{
font-size: medium;
border-radius: 20px;
width: 250px;
}

#Door{
    font-size: medium;
    border-radius: 20px;
    width: 250px;
    }

#Bottles{
        font-size: medium;
        border-radius: 20px;
        width: 250px;
        }

#Potrait{
    font-size: medium;
    border-radius: 20px;
    width: 250px;
    }